parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    parallel:
        jobSize: 2
        maximumNumberOfProcesses: 2
        minimumNumberOfJobsPerProcess: 1
