{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body {
            margin: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 id="page-not-found">Page not found</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="/">return to the homepage</a>.
    </p>
{% endblock %}
